
.header {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex: 1;
}

.head-menu{
    display: flex;
    flex: 1;
    justify-content: center;
}

.user-head{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.content {
    display: flex;
}

.navigation {
    background-color: #222326;
    width: 20%;
    height: 100vh;
}

.navigation-group {
    margin-top: 10px;
}

.navigation-control {
    border-top: 1px solid #868686;
    border-bottom: 1px solid #363232;
}

.navigation-control:hover{
    border-left: 4px solid green;
}

.navigation-control .btn {
    display: flex;
    justify-content: space-between;
}

.user-page {
    width: 100%;
}

.playlist-menu {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background-color: #1b191f;
    color: #fff;
}

.user-action {
    display: flex;
    padding: 5px 20px;
}

.user-action .dropdown {
    flex: 1;
}

.playlist{
    display: flex;
    flex: 1;
}

.playlist-fillter {
    display: flex;
}